{% extends 'base.html.twig' %}

{% block title %}New TypeOfCustomer{% endblock %}

{% block body %}
    <h1>Create new TypeOfCustomer</h1>

    {{ include('type_of_customer/_form.html.twig') }}

    <a href="{{ path('type_of_customer_index') }}">back to list</a>
{% endblock %}
