{% extends "base.html.twig" %}

{% block title %}Sooonr - A propos{% endblock %}

{% block body %}
    <div class="container margtop margbot greatvibes pad">

        <div id="slide1" class="parallax-window" data-parallax="scroll" data-image-src="<?php echo $parall; ?>">



            <div class="typotext typosizevingt">
                        <section class="banner half-blue about__banner">

                                <div class="row banner__content">
                                    <div class="col-lg-6 off-screen off-screen--from-left">
                                        <div class="white-text">
                                                <h1 class=" titlehun">A propos de  <span class="typologo">SOOONR</span></h1>
                                            <p><span class=" typosizevingt">SOOONR est un site de booking d'artiste. Qu'ils soient amateurs ou professionnels ils peuvent s'inscrire sur la plateforme et proposer leurs services.</p>
                                            <p>La plateforme permet de trouver facilement un artiste selon le domaine dans lequel il propose son service. Chaque artiste </p>
                                        </div>
                                    </div>

                                </div>

                        </section>
                        <section class="center white-text ">
                            <h2 class="typotext">Nos tarifications</h2>
                            <table class="table responsive-table">
                                <thead>
                                    <tr>
                                        <th class="center">Artiste</th>
                                        <th class="center">Prix Unique</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">
                                            Inscription sur la platforme quelque soit votre status ( amateur ou professionnel ) à un prix unique.
                                        </td>
                                        <td>20€/mois</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>

                <section class="center white-text ">
                    <table class="table responsive-table">

                        <tbody>
                        <tr>
                            <td class="center">
                                Mise en ligne d'un événement sur la plateforme à un prix unique.
                            </td>
                            <td>5€/mois</td>
                        </tr>
                        </tbody>
                    </table>
                </section>
                <div class="row"></div>
                <div class="row"></div>
            </div>
        </div>
    </div>

{% endblock %}