{% extends "base.html.twig" %}

{% block title %}Sooonr - Mentions Légales{% endblock %}

{% block body %}
    <div class="container margtop margbot greatvibes pad">

        <div id="slide1" class="parallax-window" data-parallax="scroll" data-image-src="<?php echo $parall; ?>">



            <div class="typotext typosizevingt">
                <div class="deb">

                    <div id="content-wrap">


                        <section class="banner half-blue about__banner">

                                <div class="row banner__content">
                                    <div class="col-lg-6 off-screen off-screen--from-left">
                                        <div class="">
                                                <h1 class=" titlehun">A propos de  <span class="typologo">SOOONR</span></h1>
                                            <p><span class="intro">At MN<span class="big-2">2</span>S we connect talent, brands and businesses, enabling them to stage memorable events, share remarkable music, tell significant stories, and, through it all, reach new audiences.</span></p>
                                            <p>The foundation of our work is our global network of connections and our rosters of established and up-and-coming artists, DJs, celebrities, sports personalities and record labels.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 pd-lg-lft off-screen off-screen--from-right">
                                        <div class="about__banner__image" style="background-image: url(https://bucket.mn2s.com/wp-content/uploads/2019/01/25050345/Ministry-1024x682.jpg);">
                                            <div class="about__banner__image__overlay"></div>
                                            <p>Our London Office</p>
                                        </div>
                                    </div>
                                </div>

                        </section>

                        <section class="explore-rosters off-screen off-screen--from-left">
                            <div class="half-blue">

                                    <div class="col-12 dark-blue-bg white-color">
                                        <div class="row">
                                            <div class=" first-col-md col-md-12 col-lg-3 explore-rosters__content" style="padding-right: 0;">
                                                <h2 class="title title--medium">What <span style="white-space: nowrap;">we do</span></h2>
                                            </div>
                                            <div class=" col-md-12 col-lg-3 explore-rosters__content">
                                                <ul class="title title--xs">
                                                    <li class="explore-link-js is-active" data-permalink="https://mn2s.com/booking-agency/" data-explore-link="1"><span>BOOKINGS</span></li>
                                                    <li class="explore-link-js" data-permalink="https://mn2s.com/our-services/programming/" data-explore-link="2"><span>PROGRAMMING</span></li>
                                                    <li class="explore-link-js" data-permalink="https://mn2s.com/our-services/pr/" data-explore-link="3"><span>PR</span></li>
                                                    <li class="explore-link-js" data-permalink="https://mn2s.com/our-services/social-media-management/" data-explore-link="4"><span>SOCIAL MEDIA</span></li>
                                                    <li class="explore-link-js" data-permalink="https://mn2s.com/our-services/label-services/" data-explore-link="5"><span>LABEL SERVICES</span></li>
                                                    <li class="explore-link-js" data-permalink="https://mn2s.com/our-services/brand-partnerships/" data-explore-link="6"><span>BRAND PARTNERSHIPS</span></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-12 col-lg-6 explore-slider explore-slider--full">
                                                <div class="row explore-row-js" data-explore-row="1" style="height: 100%; padding: 40px 15px; z-index: 0; transform: matrix(1, 0, 0, 1, 0, 0);">
                                                    <div class="col-md-12">

                                                        <p>Our booking agency enables talent buyers, event organizers and brands to find and book great talent and tours</p>

                                                    </div>
                                                </div>
                                                <div class="row explore-row-js" data-explore-row="2" style="height: 100%; padding: 40px 15px; z-index: 0; transform: translate(0%, -100%) matrix(1, 0, 0, 1, 0, 0);">
                                                    <div class="col-md-12">

                                                        <p>With over 20 years in the music industry, we know what audiences want and what promoters and event organizers need when it comes to music events.</p>

                                                    </div>
                                                </div>
                                                <div class="row explore-row-js" data-explore-row="3" style="height: 100%; padding: 40px 15px; z-index: 0; transform: translate(0%, -100%) matrix(1, 0, 0, 1, 0, 0);">
                                                    <div class="col-md-12">

                                                        <p>Impressive PR attracts the audiences and opportunities you need. It should get you noticed and remembered by the right people for the right reasons.</p>

                                                    </div>
                                                </div>
                                                <div class="row explore-row-js" data-explore-row="4" style="height: 100%; padding: 40px 15px; z-index: 0; transform: translate(0%, -100%) matrix(1, 0, 0, 1, 0, 0);">
                                                    <div class="col-md-12">

                                                        <p>If you want to achieve more with your social media, we can give you the support you need.</p>

                                                    </div>
                                                </div>
                                                <div class="row explore-row-js" data-explore-row="5" style="height: 100%; padding: 40px 15px; z-index: 0; transform: translate(0%, -100%) matrix(1, 0, 0, 1, 0, 0);">
                                                    <div class="col-md-12">

                                                        <p>For independent record labels ambitious to grow in a global market, our services enable you to maximize your royalties while realizing your creative vision.</p>

                                                    </div>
                                                </div>
                                                <div class="row explore-row-js" data-explore-row="6" style="height: 100%; padding: 40px 15px; z-index: 0; transform: translate(0%, -100%) matrix(1, 0, 0, 1, 0, 0);">
                                                    <div class="col-md-12">

                                                        <p>We connect brands and talent to new audiences by identifying opportunities and finding creative ways to engage them.</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <a href="https://mn2s.com/booking-agency/" class="button button--teal button--right-arrow about-explore-rosters-cta-btn">
									<span class="text-contain">
										<span class="anim-in" style="z-index: 0; transform: matrix(1, 0, 0, 1, 0, 0);">MORE ON <span>BOOKINGS</span></span>
										<span class="current" style="z-index: 0; transform: matrix(1, 0, 0, 1, 0, 0);">MORE ON <span>BOOKINGS</span></span>
									</span>
                                        </a>
                                    </div>
                                </div>

                        </section>

                        <section class="about__section half-blue--opposite--large">
                                <div class="row">
                                    <div class="col-lg-6 off-screen off-screen--from-left">
                                        <h2 class="title title--medium title--line-above about__section__title title--line-above--expanded">Our back story</h2>
                                        <p>MN<span class="big-2">2</span>S’s roots stretch back to 1995, when Sharron Elkabas, David Elkabas and Tim Burnett organised their first club nights in London. The original company was built around their shared love of music and a vision of making the brand synonymous with the best in international house.</p>
                                        <p>Two decades on, the company has long since achieved these goals and expanded its vision to make MN<span class="big-2">2</span>S synonymous with the world’s best music, talent and live entertainment.</p>
                                        <p>The drive to achieve this continues, and in 2018, five years after launching our talent roster, we opened our US office and launched our <a href="http://mn2s.wpengine.com/our-services/pr/">PR</a> and <a href="http://mn2s.wpengine.com/our-services/programming/">Programming</a> divisions.</p>
                                    </div>
                                    <div class="col-lg-6 pd-lg-lft off-screen off-screen--from-right">
                                        <div class="about__banner__image" style="background-image: url(https://bucket.mn2s.com/wp-content/uploads/2018/10/13144916/US-office-1024x682.jpg);">
                                            <div class="about__banner__image__overlay"></div>
                                            <p>Our Miami Office</p>
                                        </div>
                                    </div>
                                </div>
                        </section>

                        <section class="about__section">
                                <div class="row">

                                    <div class="col-md-6 col-xl-7 offset-xl-1 off-screen off-screen--from-right order-md-2">
                                        <h2 class="title title--medium title--line-above about__section__title title--line-above--expanded">Our Managing Director</h2>
                                        <p>Sharron is one of MN<span class="big-2">2</span>S’s original co-founders. Always ambitious, he was the driving force behind the company’s evolution from a London event promoter to an international booking agency.</p>
                                        <p>Sharron’s focus has always been on staying ahead of the curve. The music and entertainment industries change constantly, yet over the last two decades, Sharron and MN<span class="big-2">2</span>S have managed to foresee and take advantage of trends and developments.</p>
                                        <p>Never content to settle for a “safe” roster of established names, Sharron is always working to identify underground sounds and emerging talent he believes in. He is dedicated to signing talent at every stage of their careers, from new starters creating a buzz on the underground music scene or social media, to big-name stars looking to stay current.</p>
                                        <p>Today, besides managing the company, Sharron works closely with his team of booking agents, evaluating offers, negotiating fees, discussing requests with artists and managers, and ensuring that performances and campaigns are flawlessly executed.</p>
                                        <p>He splits his time&nbsp;between the MN<span class="big-2">2</span>S offices in London and Miami.</p>
                                    </div>
                                    <div class="col-md-6 col-xl-4 off-screen off-screen--from-left order-md-1">
                                        <div class="about__section__wrapper">
                                            <div class="about__section__image" style="background-image: url(https://bucket.mn2s.com/wp-content/uploads/2018/10/13143911/sharon.png);"></div>
                                            <p class="about__section__name">Sharron Elkabas</p>
                                            <div class="about__section__separator"></div>
                                            <p class="about__section__position">MANAGING DIRECTOR</p>
                                        </div>
                                    </div>
                                </div>
                        </section>


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}