{% extends "base.html.twig" %}

{% block title %}Sooonr - Booking{% endblock %}

{% block body %}
    <div class="container white margtop pad20 bordrad10 margbottom">


        <div class=" center">
            <h1 class="center titlehun">{{ 'title.booking'|trans }}</h1>
            <p class="typotext">{{ 'description.booking'|trans }}</p>
        </div>

        <section class="row">
                <a href="http://localhost:3000/#/profiles">
                    <article class="col l6 s12 m6 text-center hoverable bordrad10">
                        <h2 class="titlehun black-text">DJ</h2>
                        <img class="responsive-img"  style="height: 200px" src="{{ asset('build/medias/piano.63f64289.jpg') }}" alt="">
                    </article>
                </a>
               <a href="http://localhost:3000/#/events">
                   <article class="col l6 s12 m6 text-center hoverable bordrad10">
                        <h2 class="titlehun black-text">Events</h2>
                        <img class="responsive-img" style="height: 200px" src="{{ asset('build/medias/guitarist.ec3b5d96.jpg') }}" alt="">
                    </article>
               </a>
        </section>

    </div>
{% endblock %}