{% extends 'base.html.twig' %}

{% block title %}New Demands{% endblock %}

{% block body %}
    <h1>Create new Demands</h1>

    {{ include('demands/_form.html.twig') }}

    <a href="{{ path('demands_index') }}">back to list</a>
{% endblock %}
