{% extends 'base.html.twig' %}

{% block title %}New Events{% endblock %}

{% block body %}
    <div class="container bordrad10 margtop white">
        <div class="row">
            <div class="col s12 white bordrad10 pad20 margtop">
                <h1>Create new Events</h1>

                {{ include('events/_form.html.twig') }}

                <a href="{{ path('events_index') }}">back to list</a>
            </div>
        </div>

    </div>

{% endblock %}
