{% extends 'base.html.twig' %}

{% block body %}
    <div class="container bordrad10 margtop white">
        <div class="row">
            <div class="col s12 white bordrad10 pad20 margtop">
                <h1 class="titlehun">Access DENIED</h1>

                <p>
                    Access Denied.  <button class="btn btn-large bgblur"> <a href="{{ path('app_index') }}">return to the homepage</a></button>
                </p>
            </div>
        </div>
    </div>
{% endblock %}