{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
<div class="container bordrad10 margtop white">
    <div class="row">
        <div class="col s12 white bordrad10 pad20 margtop">
            <h1>Edit Event</h1>

            {{ include('event/_form.html.twig', {'button_label': 'Update'}) }}
            <div class="row">
                <div class="col s6 right-align">
                    <button class="btn btn-lg bgblur">
                        <a class="white-text" href="{{ path('event_index') }}">Retour</a>
                    </button>
                </div>
                <div class="col s6 left-align">
                    {{ include('event/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
