{% extends 'base.html.twig' %}

{% block title %}Edit Address{% endblock %}

{% block body %}
<div class="container bordrad10 margtop white">
    <div class="row">
        <div class="col s12 white bordrad10 pad20 margtop">
            <h1 class="titlehun">Edit Address</h1>

            {{ include('address/_form.html.twig', {'button_label': 'Update'}) }}
            <button class="btn btn-lg bgblur">
                <a class="white-text" href="{{ path('address_index') }}">back to list</a>
            </button>
            {{ include('address/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
