{% extends 'base.html.twig' %}

{% block title %}New Customers{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12 white z-depth-4 bordrad10 pad20 margtop">
                <h1>Create new Customers</h1>

                {{ include('customers/_form.html.twig') }}

                <a href="{{ path('customers_index') }}">back to list</a>
            </div>
        </div>
    </div>

{% endblock %}
